*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

html,body
{
    height:100%;
    width:100%;
    overflow:hidden;
    user-select:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen
{
    height:min(1280px,100%);
    width:min(720px,100%);
    outline: 1px solid red;
}